* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
  width: 12px;
}
html::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
  background-color: rgb(34, 34, 34);
}
html ::-webkit-scrollbar-thumb, body ::-webkit-scrollbar-thumb {
  background-color: rgb(116, 116, 116);
  border-radius: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
  width: 100%;
  height: 50px;
  background-color: rgb(34, 34, 34);
  position: fixed;
}
.header__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50px;
}
.header__logo a {
  font-family: "Roboto", sans-serif;
  font-size: 27px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  background: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(26, 23, 23));
}
.main__about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700px;
  background: linear-gradient(#80FF72, #04d2f7);
}
.main__about-me h1 {
  font-family: "Roboto", sans-serif;
  font-size: 74px;
  color: black;
}
@media (max-width: 910px) {
  .main__about-me h1 {
    font-size: 59px;
  }
}
@media (max-width: 735px) {
  .main__about-me h1 {
    font-size: 49px;
  }
}
@media (max-width: 610px) {
  .main__about-me h1 {
    font-size: 40px;
  }
}
@media (max-width: 485px) {
  .main__about-me h1 {
    font-size: 31px;
  }
}
@media (max-width: 390px) {
  .main__about-me h1 {
    font-size: 29px;
  }
}
@media (max-width: 350px) {
  .main__about-me h1 {
    font-size: 20px;
  }
}
.main__about-me span {
  font-family: "Roboto", sans-serif;
  font-size: 34px;
  color: rgb(53, 53, 53);
}
@media (max-width: 910px) {
  .main__about-me span {
    font-size: 27px;
  }
}
@media (max-width: 735px) {
  .main__about-me span {
    font-size: 25px;
  }
}
@media (max-width: 610px) {
  .main__about-me span {
    font-size: 23px;
  }
}
@media (max-width: 485px) {
  .main__about-me span {
    font-size: 23px;
  }
}
@media (max-width: 390px) {
  .main__about-me span {
    font-size: 18px;
  }
}
@media (max-width: 350px) {
  .main__about-me span {
    font-size: 13px;
  }
}
.main__skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.main__skills h2 {
  padding-top: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 44px;
  color: rgb(255, 255, 255);
}
.main__resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 300px;
}
.main__resume h2 {
  padding-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 44px;
  color: rgb(255, 255, 255);
}
.main__resume a .main__btn-download {
  width: 100px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 19px;
  background: linear-gradient(#CC2B5E, #a73257);
  border: none;
  border-radius: 10px;
  color: rgb(255, 255, 255);
}
.main__resume a .main__btn-download:hover {
  background: linear-gradient(to left, #CC2B5E, #a73257);
}

.main-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}
.main-list__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 340px;
  min-height: 450px;
  margin: 25px;
  background: #CC2B5E;
  border-radius: 10px;
  -webkit-animation: background 3s infinite alternate;
          animation: background 3s infinite alternate;
}
@-webkit-keyframes background {
  50% {
    background: #a73257;
  }
}
@keyframes background {
  50% {
    background: #a73257;
  }
}
.main-list__item p {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #fff;
}
.main-list__item ul {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  padding-left: 0;
  padding-top: 5px;
}
.main-list__item ul li {
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: rgb(26, 26, 26);
}

.footer {
  width: 100%;
  height: 100%;
  background-color: rgb(34, 34, 34);
}
.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}
.footer__info span {
  font-family: "Roboto", sans-serif;
  color: #fff;
}
.footer__links {
  margin-top: 6px;
}/*# sourceMappingURL=styles.css.map */